<%= form_for(@derp) do |f| %>
  <% if @derp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@derp.errors.count, "error") %> prohibited this derp from being saved:</h2>

      <ul>
      <% @derp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :derp %><br>
    <%= f.text_field :derp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
